# Rust
/target
**/*.rs.bk
.env

# Misc
*.log

# Bindings
bindings/**/*.so

# IDEs
.codex
.idea
.history/
*.code-workspace
.claude
*.iml
*.iws
out/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.settings/
.project
.classpath
*.sublime-workspace
*.sublime-project
nppBackup/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
