# Python (bindings/python)
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/dist/
**/build/
**/.venv/
**/venv/
**/*.pyd
bernard_ledit/libpdfium.so
bernard_ledit/libpdfium.dylib
bernard_ledit/pdfium.dll
